<div class="card" style="width: 30rem;margin: 10% auto auto;">
  <div class="card-body">
    <img src="../../assets/img/logo.png"
         style="width: 100px; height: 100px; margin-left: 39%;margin-bottom: 6%"
         alt="logo"/>

    <div id="hx-mobile" [style.display]="valid === 1 ? 'block' : 'none'">
      <form class="form" [formGroup]="PhoneNoForm">

        <div class="alert alert-danger" [style.display]="_isPhoneError ? 'block': 'none'">
          {{_invalidPhoneNumber}}
        </div>

        <div class="alert alert-danger" [style.display]="_isOTPError ? 'block': 'none'">
          {{_inValidOTP}}
        </div>

        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 placeholder="{{loginPhoneNumber}}"
                 aria-label="Username"
                 formControlName="PhoneNo"
                 required
                 aria-describedby="basic-addon1">
        </div>
        <button type="button"
                class="btn btn-raised btn-info"
                (click)="PhoneNumber()"
                [disabled]="!validationPhoneNumber()">
          {{nextButton}}
        </button>
      </form>
    </div>
    <div id="hx-otp"
         [style.display]="valid === 2 ? 'block' : 'none'">
      <form class="form" [formGroup]="OtpForm">
        <div class="input-group mb-3">
          <input type="text"
                 class="form-control"
                 placeholder="{{loginOTP}}"
                 aria-label="Username"
                 formControlName="otp"
                 required
                 aria-describedby="basic-addon1">
        </div>
        <div class="row" style="text-align: right">
          <div class="col-6"></div>
          <div class="col-3">
            <button type="button"
                    class="btn btn-raised btn-warning"
                    (click)="resendOTP()">
              {{resendOtp}}
            </button>
          </div>
          <div class="col-3">
            <button type="button"
                    class="btn btn-raised btn-info"
                    [disabled]="!validationOTP()"
                    (click)="otp()">
              {{loginButton}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

