.details{
  background: whitesmoke;
  height: 550px;
  overflow: auto;
  margin-top: 2%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.row-design{
  background: whitesmoke;
  border: 1px solid lightgray;
  padding: 15px;
  width: 96%;
  margin: 2%;
  border-radius: 6px;
}

.background-block{
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}
